@use "../abstracts/functions" as f;

/**************************/
/* HEADER */
/**************************/
.huddle-logo {
    margin: 0 f.rem(25px);;
    width: f.rem(120px);
}

@media (width >= 23.75em) {
    .huddle-logo {
        width: f.rem(200px);
    }
}