@use "../abstracts/functions" as f;

/**************************/
/* HEADER */
/**************************/
header {
    max-width: var(--page-max-width, 80rem);
}

.huddle-logo {
    width: f.rem(120px);
}

footer {
    max-width: var(--page-max-width, 80rem);
}

@media (width >= 50em) {
    .huddle-logo {
        width: f.rem(200px);
    }
}

@media (width < 50em) {
    .c-hero__container-img {
      // note: stop image getting too huge on mobiles
      width: 30rem;
      margin-inline: auto;
    }
  }